body, *{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
    padding: 20px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 50%
}
p, a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.block{
    height: 300px;
}
.block:nth-child(odd){
    background-color: lightblue
}
.block:nth-child(even){
    background-color: darkcyan;
}
#scrollToTop{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: darkblue;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    display: flex;
    opacity: 0;
}
